SOC Operations/Auto Closure Incidents older than 7 Days/Auto Closure Incidents.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",

  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-sentinel-close-incidents"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "workspaceSubscriptionId": {
      "type": "string",
      "metadata": {
        "description": "Subscription ID of Sentinel workspace"
      }
    },
    "workspaceResourceGroup": {
      "type": "string",
      "metadata": {
        "description": "Resource Group of Sentinel workspace"
      }
    },
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Log Analytics Workspace name"
      }
    }
  },

  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",

      "identity": {
        "type": "SystemAssigned"
      },

      "properties": {
        "state": "Enabled",

        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",

          "parameters": {
            "olderThanDays": {
              "defaultValue": 7,
              "type": "Int"
            },
            "dryRun": {
              "defaultValue": true,
              "type": "Bool"
            },
            "topToFetch": {
              "defaultValue": 1000,
              "type": "Int"
            },
            "apiVersionSecurityInsights": {
              "defaultValue": "2023-02-01-preview",
              "type": "String"
            },
            "workspaceSubscriptionId": {
              "type": "String"
            },
            "workspaceResourceGroup": {
              "type": "String"
            },
            "workspaceName": {
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },

          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1
              }
            }
          },

          "actions": {

            "Initialize_Variables": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "cutoffDateTime",
                    "type": "string",
                    "value": "@{addDays(utcNow(), mul(-1, int(parameters('olderThanDays'))))}"
                  },
                  {
                    "name": "dryRunWouldClose",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },

            "List_Incidents": {
              "type": "Http",
              "runAfter": {
                "Initialize_Variables": ["Succeeded"]
              },
              "inputs": {
                "method": "GET",
                "uri": "@{concat('https://management.azure.com/subscriptions/', parameters('workspaceSubscriptionId'), '/resourceGroups/', parameters('workspaceResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=', parameters('apiVersionSecurityInsights'), '&$top=', string(parameters('topToFetch')), '&$orderby=', encodeUriComponent('properties/createdTimeUtc asc'), '&$filter=', encodeUriComponent(concat('properties/createdTimeUtc lt ', variables('cutoffDateTime'), ' and properties/status ne ''Closed''')))}",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://management.azure.com/"
                }
              }
            },

            "Parse_Incidents": {
              "type": "ParseJson",
              "runAfter": {
                "List_Incidents": ["Succeeded"]
              },
              "inputs": {
                "content": "@body('List_Incidents')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": ["name"]
                      }
                    }
                  },
                  "required": ["value"]
                }
              }
            },

            "For_Each_Incident": {
              "type": "Foreach",
              "foreach": "@body('Parse_Incidents')?['value']",
              "runAfter": {
                "Parse_Incidents": ["Succeeded"]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 5
                }
              },
              "actions": {

                "Check_DryRun": {
                  "type": "If",
                  "expression": {
                    "equals": ["@parameters('dryRun')", false]
                  },

                  "actions": {

                    "Get_Incident": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{concat('https://management.azure.com/subscriptions/', parameters('workspaceSubscriptionId'), '/resourceGroups/', parameters('workspaceResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', items('For_Each_Incident')?['name'], '?api-version=', parameters('apiVersionSecurityInsights'))}",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://management.azure.com/"
                        }
                      }
                    },

                    "Close_Incident": {
                      "type": "Http",
                      "runAfter": {
                        "Get_Incident": ["Succeeded"]
                      },
                      "inputs": {
                        "method": "PUT",
                        "uri": "@{concat('https://management.azure.com/subscriptions/', parameters('workspaceSubscriptionId'), '/resourceGroups/', parameters('workspaceResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('workspaceName'), '/providers/Microsoft.SecurityInsights/incidents/', items('For_Each_Incident')?['name'], '?api-version=', parameters('apiVersionSecurityInsights'))}",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "properties": {
                            "title": "@{body('Get_Incident')?['properties']?['title']}",
                            "severity": "@{body('Get_Incident')?['properties']?['severity']}",
                            "status": "Closed",
                            "classification": "Undetermined",
                            "classificationComment": "Auto-closed (older than threshold)"
                          }
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://management.azure.com/"
                        }
                      }
                    }

                  },

                  "else": {
                    "actions": {
                      "Append_DryRun_List": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "dryRunWouldClose",
                          "value": "@{items('For_Each_Incident')?['name']}"
                        }
                      }
                    }
                  }
                }

              }
            }

          },

          "outputs": {
            "cutoffDateTime": {
              "type": "String",
              "value": "@variables('cutoffDateTime')"
            },
            "dryRunWouldCloseIncidentIds": {
              "type": "Array",
              "value": "@variables('dryRunWouldClose')"
            }
          }
        },

        "parameters": {
          "$connections": {
            "value": {}
          },
          "workspaceSubscriptionId": {
            "value": "[parameters('workspaceSubscriptionId')]"
          },
          "workspaceResourceGroup": {
            "value": "[parameters('workspaceResourceGroup')]"
          },
          "workspaceName": {
            "value": "[parameters('workspaceName')]"
          }
        }
      }
    }
  ]
}
