SOC Operations/PB-Incident-Assign-Group/Incident-Assignment-Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Incident-Assignment-Playbook",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App playbook."
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Azure region for the Logic App. Defaults to the resource group location."
            }
        },
        "connections_azuresentinel_name": {
            "defaultValue": "azuresentinel",
            "type": "String",
            "metadata": {
                "description": "Name of the Azure Sentinel API connection resource."
            }
        },
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "String",
            "metadata": {
                "description": "Name of the Office 365 API connection resource."
            }
        },
        "connections_wdatp_name": {
            "defaultValue": "wdatp",
            "type": "String",
            "metadata": {
                "description": "Name of the Microsoft Defender for Endpoint (WDATP) API connection resource."
            }
        },
        "NotificationToEmail": {
            "defaultValue": "",
            "type": "String",
            "metadata": {
                "description": "Semicolon-separated list of recipient email addresses for incident notifications."
            }
        },
        "NotificationFromEmail": {
            "defaultValue": "",
            "type": "String",
            "metadata": {
                "description": "Sender email address for incident notification emails."
            }
        },
        "ReportName": {
            "defaultValue": "Microsoft Sentinel",
            "type": "String",
            "metadata": {
                "description": "Report name displayed in the incident email header."
            }
        },
        "CompanyLogoLink": {
            "defaultValue": "",
            "type": "String",
            "metadata": {
                "description": "URL to the company logo shown in the incident email header."
            }
        }
    },
    "variables": {
        "azuresentinel_connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azuresentinel_name'))]",
        "office365_connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
        "wdatp_connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_wdatp_name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azuresentinel_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('connections_azuresentinel_name')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('connections_office365_name')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_wdatp_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('connections_wdatp_name')]",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/wdatp')]"
                },
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {}
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[variables('azuresentinel_connectionId')]",
                "[variables('office365_connectionId')]",
                "[variables('wdatp_connectionId')]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "Company Logo Link": {
                            "defaultValue": "[parameters('CompanyLogoLink')]",
                            "type": "String"
                        },
                        "Report Name": {
                            "defaultValue": "[parameters('ReportName')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']"
                                },
                                "path": "/Incidents"
                            }
                        },
                        "Entities_-_Get_Hosts": {
                            "runAfter": {
                                "Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/host"
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {
                                "Entities_-_Get_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "routeKey",
                                        "type": "string",
                                        "value": "UNKNOWN"
                                    }
                                ]
                            }
                        },
                        "Compose_LabelsText": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@string(body('Get_incident')?['properties']?['labels'])"
                        },
                        "Select_Entities": {
                            "runAfter": {
                                "Compose_LabelsText": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "select": {
                                    "Entity": "@item()?['properties']?['friendlyName']",
                                    "Entity type": "@item()?['kind']"
                                }
                            }
                        },
                        "Create_HTML_table_with_Entities": {
                            "runAfter": {
                                "Select_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@body('Select_Entities')",
                                "format": "HTML"
                            }
                        },
                        "Select_Alerts": {
                            "runAfter": {
                                "Create_HTML_table_with_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@triggerBody()?['object']?['properties']?['Alerts']",
                                "select": {
                                    "Alerts": "@item()?['properties']?['alertDisplayName']"
                                }
                            }
                        },
                        "Create_HTML_table_with_Alerts": {
                            "runAfter": {
                                "Select_Alerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@body('Select_Alerts')",
                                "format": "HTML"
                            }
                        },
                        "Compose_Email_response": {
                            "runAfter": {
                                "Create_HTML_table_with_Alerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "<!DOCTYPE html>\n<html>\n\n<table style=\"width: 100%; border-collapse: collapse;\" border=\"1\" width=\"100%\">\n\n<tbody>\n\n<tr>\n<td style=\"width: 19%;\" align=\"center\" width=\"19%\">\n<strong><img src=\"https://azure.microsoft.com/svghandler/azure-sentinel?width=150&amp;height=79\" alt=\"\" /></strong>\n</td>\n\n<td style=\"width: 41.1434%;\" width=\"48%\">\n<p style=\"text-align: center;\"><span style=\"font-size: 16pt;\"><strong>@{parameters('Report name')}</strong></span></p>\n<p style=\"text-align: center;\"><strong>Azure Sentinel incident report</strong></p>\n</td>\n\n<td style=\"width: 20%;\" width=\"20%\">\n<p><span style=\"font-size: 12pt;\"><strong>Incident ID: @{triggerBody()?['object']?['properties']?['incidentNumber']}</strong></span></p>\n<p><span style=\"font-size: 13pt;\"><strong><a href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\">View incident</a></strong></span></p>\n</td>\n\n<td style=\"width: 13%;\" align=\"center\" width=\"13%\">\n<strong><img src=\"@{parameters('Company logo link')}?width=150&amp;height=79\" alt=\"\" /></strong>\n</td>\n\n</tr>\n\n<tr>\n<td style=\"width: 93.1434%;\" colspan=\"4\" width=\"100%\">\n<p>Incident title:</p>\n<p><span style=\"font-size: 16pt;\"><strong>@{triggerBody()?['object']?['properties']?['title']}</strong></span></p>\n<p>&nbsp;</p>\n</td>\n</tr>\n\n</tbody>\n</table>\n\n<table style=\"width: 100%; border-collapse: collapse;\" border=\"1\" width=\"100%\">\n\n<tbody>\n\n<tr style=\"vertical-align: top;\">\n<td style=\"width: 23.25%; height: 190px;\">\n<p><span style=\"font-size: 12pt;\"><strong>Creation time</strong></span><br /><br/>\n<span style=\"font-size: 12.0pt;\">@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</span></p>\n</td>\n\n<td style=\"width: 23.25%; height: 190px;\">\n<p><span style=\"font-size: 12pt;\"><strong>Severity</strong></span><br /><br/>\n<span style=\"font-size: 12.0pt;\">@{triggerBody()?['object']?['properties']?['severity']}</span></p>\n</td>\n\n<td style=\"width: 23.3934%; height: 190px;\">\n<p><span style=\"font-size: 12pt;\"><strong>Alert providers</strong></span><br /><br/>\n<span style=\"font-size: 12.0pt;\">@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], '<br />')}</span></p>\n</td>\n\n<td style=\"width: 23.25%; height: 190px;\">\n<p><span style=\"font-size: 12pt;\"><strong>Tactics</strong></span><br /><br/>\n<span style=\"font-size: 12.0pt;\">@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'], '<br />')}</span></p>\n</td>\n</tr>\n\n<td style=\"width: 93.1434%;\" colspan=\"4\" width=\"100%\">\n<p><span style=\"font-size: 12pt;\"><strong>Description</strong></span><br /><br />\n<span style=\"font-size: 12.0pt;\">@{triggerBody()?['object']?['properties']?['description']}</span></p>\n</td>\n</tr>\n\n<tr>\n<td style=\"width: 46.5%;\" colspan=\"2\" width=\"50%\">\n<p><span style=\"font-size: 12pt;\"><strong>Entities</strong></span></p>\n<p>@{body('Create_HTML_table_with_Entities')}</p>\n<p>&nbsp;</p>\n</td>\n\n<td style=\"width: 46.6434%;\" colspan=\"2\" width=\"50%\">\n@{body('Create_HTML_table_with_Alerts')}\n</td>\n\n</tr>\n\n</tbody>\n</table>\n</html>"
                        },
                        "Condition_1": {
                            "actions": {
                                "Set_variable": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "routeKey",
                                        "value": "GT_MDE"
                                    }
                                }
                            },
                            "runAfter": {
                                "Compose_Email_response": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Set_variable_1": {
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "routeKey",
                                                    "value": "GT_MDC"
                                                }
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "Condition_3": {
                                                    "actions": {
                                                        "Set_variable_2": {
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "routeKey",
                                                                "value": "GT_MDO"
                                                            }
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "Condition_4": {
                                                                "actions": {
                                                                    "Set_variable_3": {
                                                                        "type": "SetVariable",
                                                                        "inputs": {
                                                                            "name": "routeKey",
                                                                            "value": "GT_MDI"
                                                                        }
                                                                    }
                                                                },
                                                                "else": {
                                                                    "actions": {}
                                                                },
                                                                "expression": {
                                                                    "and": [
                                                                        {
                                                                            "contains": [
                                                                                "@outputs('Compose_LabelsText')",
                                                                                "GT_MDI"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                "type": "If"
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "contains": [
                                                                    "@outputs('Compose_LabelsText')",
                                                                    "GT_MDO"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "contains": [
                                                        "@outputs('Compose_LabelsText')",
                                                        "GT_MDC"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@outputs('Compose_LabelsText')",
                                            "GT_MDE"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Switch": {
                            "runAfter": {
                                "Condition_1": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "GT_MDC",
                                    "actions": {
                                        "Send_an_email_with_Incident_details-MDC": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "[parameters('NotificationToEmail')]",
                                                    "Subject": "New Azure Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                                    "From": "[parameters('NotificationFromEmail')]"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "GT_MDO",
                                    "actions": {
                                        "Send_an_email_with_Incident_details-MDO": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "[parameters('NotificationToEmail')]",
                                                    "Subject": "New Azure Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                                    "From": "[parameters('NotificationFromEmail')]"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "GT_MDI",
                                    "actions": {
                                        "Send_an_email_with_Incident_details-MDI": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "[parameters('NotificationToEmail')]",
                                                    "Subject": "New Azure Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                                    "From": "[parameters('NotificationFromEmail')]"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "GT_MDE",
                                    "actions": {
                                        "Compose_Hostname": {
                                            "type": "Compose",
                                            "inputs": "@coalesce(\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['hostName'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['hostname'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['fqdn'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['netBiosName'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['properties']?['hostName'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['properties']?['fqdn'],\n  first(\n    coalesce(\n      body('Entities_-_Get_Hosts')?['value'],\n      body('Entities_-_Get_Hosts')?['hosts'],\n      createArray(body('Entities_-_Get_Hosts'))\n    )\n  )?['properties']?['netBiosName']\n)"
                                        },
                                        "Advanced_Hunting": {
                                            "runAfter": {
                                                "Compose_Hostname": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['wdatp-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "Query": "let Host = tolower(\"@{outputs('Compose_Hostname')}\");\nDeviceInfo\n| extend dn = tolower(DeviceName)\n| where dn == Host or dn startswith strcat(Host, \".\")\n| summarize arg_max(Timestamp, *) by DeviceId\n| project DeviceName, DeviceId, DeviceDynamicTags, DeviceManualTags, OSPlatform, OSVersion, MachineGroup"
                                                },
                                                "path": "/api/advancedqueries/run"
                                            }
                                        },
                                        "Compose_DeviceDynamicTagsText": {
                                            "runAfter": {
                                                "Advanced_Hunting": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@string(first(body('Advanced_Hunting')?['results'])?['DeviceDynamicTags'])\n"
                                        },
                                        "Condition": {
                                            "actions": {
                                                "Send_an_email_with_Incident_details-MDE-Server": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "To": "[parameters('NotificationToEmail')]",
                                                            "Subject": "New Azure Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                                                            "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                                            "From": "[parameters('NotificationFromEmail')]"
                                                        },
                                                        "path": "/v2/Mail"
                                                    }
                                                },
                                                "Update_incident": {
                                                    "runAfter": {
                                                        "Send_an_email_with_Incident_details-MDE-Server": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "body": {
                                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                                            "tagsToAdd": {
                                                                "TagsToAdd": [
                                                                    {
                                                                        "Tag": "GT_MDC"
                                                                    }
                                                                ]
                                                            },
                                                            "tagsToRemove": {
                                                                "TagsToRemove": [
                                                                    {
                                                                        "Tag": "GT_MDE"
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "path": "/Incidents"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_DeviceDynamicTagsText": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Send_an_email_with_Incident_details-MDE-Client_Device": {
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "body": {
                                                                "To": "[parameters('NotificationToEmail')]",
                                                                "Subject": "New Azure Sentinel incident - @{triggerBody()?['object']?['properties']?['title']}",
                                                                "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                                                "From": "[parameters('NotificationFromEmail')]"
                                                            },
                                                            "path": "/v2/Mail"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "contains": [
                                                            "@outputs('Compose_DeviceDynamicTagsText')",
                                                            "Server OS"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@variables('routeKey')",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionId": "[variables('azuresentinel_connectionId')]",
                                "connectionName": "[parameters('connections_azuresentinel_name')]",
                                "connectionProperties": {}
                            },
                            "office365": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
                                "connectionId": "[variables('office365_connectionId')]",
                                "connectionName": "[parameters('connections_office365_name')]",
                                "connectionProperties": {}
                            },
                            "wdatp-1": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/wdatp')]",
                                "connectionId": "[variables('wdatp_connectionId')]",
                                "connectionName": "[parameters('connections_wdatp_name')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel-1": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionId": "[variables('azuresentinel_connectionId')]",
                                "connectionName": "[parameters('connections_azuresentinel_name')]",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}
